@use 'colors' as *;

.text {
	&-h6 {
		font-size: 13px;
	}
}
.icons {
	&-account {
		color: $grays-text-icons-subtitle
	}
}

.mainMenuButton{
	outline: none;
	min-width: fit-content;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding-top: 0px;
    padding-bottom: 0px;
	padding-left: 20px;
    padding-right: 20px;
}

.mainMenuButton:hover{
	background-color: #73B3E7;
    border-radius: 50px;
}

.notify-status{
	color: $reds-text-icon-icon-light;
}

.notification {
	&-mainMenu {
		color: $grays-text-icons-body;
	}
}

.notification-count{
	font-size: 8px;
    background-color: red;
    color: #fff;
    padding: 3px;
    border-radius: 50%;
    position: absolute;
    margin-left: 2px;
    margin-top: 4px;
}

.notification-mainMenu{
	padding: 4px !important;
	color: #000 !important;
	background-color: transparent !important;
}

.menuSelect:hover {
	background-color: #73B3E7;
}

.menuText{
	font-size: 13px;
	font-weight: 600;
	padding: 6px;
}

.notification-lineItem:hover{
	background-color: #D9E8F6;
}

.filterSelected{
	background-color: #73B3E7;
    border-radius: 24px;
    padding-right: 6px;
    padding-left: 6px;
    text-align: right;
    width: 74px;
}

.title-description{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.navFilterMenu{
	padding: 12px;
    text-align: center;
    font-weight: 600;
    border: 1px solid #ecf2f3;
	cursor: pointer;
}

.navFilterMenu:hover{
	background-color: #D9E8F6;
}