@use 'colors' as *;

.menuText {
  font-size: 14px;
  margin-left: 6px;
}
.sortTypeGrid{
  margin-top: -96px;
}

.mainMenu{
  .mainMenuButton{
    border-radius: 32px;
    width: 100%;
    padding: 0px 0px;
    p{
      margin: 12px 0px 12px 8px;
    }
  }
  .mainMenuButton:hover{
    background-color: rgb(114 179 233);
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .mainMenu{
    margin: 10px 14px 0px 14px;
  }
  .sortTypeGrid{
    margin-top: 0px;
  }
}


.notification-header{
  .notification-mainMenu{
    margin-top: 22px;
    float: inline-end;
  }
}

.notify-list{
  margin-top: 40px;

  .notify-profile{
    font-size: 50px;
    margin: 11px 22px;
  }
  .notify-header{
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    margin: 0px;
  }  
  .notify-description{
    font-size: 16px;
    padding-top: 5px;
    margin: 0px;
  }  
  .notify-duration{
    font-size: 14px;
    padding-top: 5px;
    margin: 0px;
  }
  .notify-status{
    font-size: 21px;
    margin: 26px 22px;
    float: inline-end;
    color: #288b00;
  }
}

