.actionButton{
  text-decoration: underline;
  color: #166baa;
  cursor: pointer;
  margin-left: 20px;
}
.actionDelete{
  text-decoration: underline;
  color: #166baa;
  cursor: pointer;
  margin-top: 16px;
  display: block;  
}

.modalBodaySpace{
  margin-top: 216px;
}

.select-width{
  width: 400px;
}

.modalBody{
  margin-top: 40px;
}

.maxWidth{
  max-width: none;
}

.maxHeight{
  height: 90px;
}

.textarea{
  resize: none;
}
