.search {
    * {
        height: 3.5rem !important;
    }
    button {
        * {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}