@use 'colors' as *;

.text {
	&-h6 {
		font-size: 13px;
	}
}
.icons {
	&-account {
		color: $grays-text-icons-subtitle
	}
}

.mainMenuButton{
	outline: none;
	min-width: fit-content;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.mainMenuButton:hover{
	color: $blues-surface-default;
}

.notify-status{
	color: $reds-text-icon-icon-light;
}

.notification {
	&-mainMenu {
		color: $grays-text-icons-body;
	}
}