@use 'colors' as *;

.usa-textarea {
  height: 4rem;
  border-width: 0;
}

.usa-textarea:disabled {
  background-color: #dfe1e2;
}
.usa-textarea:disabled:hover {
  background-color: #dfe1e2;
}

.error_text {
  margin-top: 8px;
  color: $reds-text-icon-icon-light;
}
