@use 'colors' as *;

.header {
  * {
    margin: 0;
    padding: 0;
  }
  p {
    margin-top: 0.5rem;
  }
}

.usa-card {
  list-style: none;
}

.mainContent {
  margin: 2rem 3rem;
}

.note {
  * {
    margin: 0;
    padding: 0;
  }
  p {
    margin-top: 0.5rem;
  }
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
  button {
    width: 14rem;
  }
}

.container {
  background-color: $gray-50;
  display: flex;
  flex-direction: column;
}
