$extra-large: 2.5rem;
$extra-large-rem: 2.5rem;
$large: 2rem;
$large-rem: 2rem;
$medium: 1.5rem;
$medium-rem: 1.5rem;
$small: 1.125rem;
$small-rem: 1.125rem;
$extra-small: 0.75rem;
$extra-small-rem: 0.75rem;
$navbar-height: 4rem;
