$gray-0: #ffffff;
$gray-50: #f4f5f5;
$gray-100: #ebebeb;
$gray-200: #d6d6d6;
$gray-300: #bfbfbf;
$gray-400: #ababab;
$gray-500: #969696;
$gray-600: #787878;
$gray-700: #595959;
$gray-800: #3d3d3d;
$gray-900: #1f1f1f;
$gray-950: #0f0f0f;
$blue-50: #d6e7ff;
$blue-100: #adcfff;
$blue-200: #61a3ff;
$blue-300: #0f73ff;
$blue-400: #004fbd;
$blue-500: #002e6d;
$blue-600: #002457;
$blue-700: #001c42;
$blue-800: #00132e;
$blue-900: #000814;
$blue-950: #00040a;
$green-50: #e1f9ee;
$green-100: #c3f3dc;
$green-200: #88e7b9;
$green-300: #4cdc96;
$green-400: #25bb73;
$green-500: #197e4e;
$green-600: #14663f;
$green-700: #0f4d2f;
$green-800: #0a331f;
$green-900: #051a10;
$green-950: #030d08;
$red-50: #ffe0e0;
$red-100: #ffc2c2;
$red-200: #ff8585;
$red-300: #ff4747;
$red-400: #ff0a0a;
$red-500: #cc0000;
$red-600: #a30000;
$red-700: #7a0000;
$red-800: #520000;
$red-900: #290000;
$red-950: #140000;
$yellow-50: #fffae5;
$yellow-100: #fff5c7;
$yellow-200: #ffeb94;
$yellow-300: #ffe15c;
$yellow-400: #ffd829;
$yellow-500: #f1c400;
$yellow-600: #c29e00;
$yellow-700: #8f7500;
$yellow-800: #614f00;
$yellow-900: #2e2500;
$yellow-950: #191500;
$light-sky-blue: #d3e3f3;
$midnight-blue: #101828;
$steel-blue: #475467;
$pale-blue: #e4e7ec;
$navy-blue: #344054;
$forest-green: #0f4d2f;
$black: #000000;
$bright-blue: #2491ff;

$reds-surface-darker: $red-600;
$reds-surface-default: $red-500;
$reds-surface-lighter: $red-200;
$reds-surface-subtle: $red-50;
$reds-border-darker: $red-600;
$reds-border-default: $red-500;
$reds-border-lighter: $red-300;
$reds-border-subtle: $red-100;
$reds-text-icon-icon-dark: $red-700;
$reds-text-icon-icon-light: $red-500;
$reds-text-icon-label: $red-700;
$yellows-surface-darker: $yellow-700;
$yellows-surface-default: $yellow-500;
$yellows-surface-lighter: $yellow-200;
$yellows-surface-subtle: $yellow-50;
$yellows-border-darker: $yellow-700;
$yellows-border-default: $yellow-500;
$yellows-border-lighter: $yellow-200;
$yellows-border-subtle: $yellow-100;
$yellows-text-icon: $yellow-900;
$blues-border-darker: $blue-700;
$blues-border-default: $blue-500;
$blues-border-lighter: $blue-200;
$blues-border-subtle: $blue-100;
$blues-surface-darker: $blue-600;
$blues-surface-dark: $blue-500;
$blues-surface-default: $blue-400;
$blues-surface-lighter: $blue-100;
$blues-surface-subtle: $blue-50;
$blues-text-icons: $blue-500;
$greens-border-darker: $green-600;
$greens-border-default: $green-500;
$greens-border-lighter: $green-200;
$greens-border-subtle: $green-100;
$greens-surface-darker: $green-600;
$greens-surface-default: $green-500;
$greens-surface-lighter: $green-200;
$greens-surface-subtle: $green-50;
$greens-text-icons-icon-dark: $green-600;
$greens-text-icons-icon-light: $green-400;
$greens-text-icons-label: $green-700;
$grays-text-icons-inverse: $gray-0;
$grays-text-icons-disabled: $gray-400;
$grays-text-icons-caption: $gray-700;
$grays-text-icons-subtitle: $gray-800;
$grays-text-icons-body: $gray-950;
$grays-text-icons-title: $gray-950;
$grays-border-darker: $gray-700;
$grays-border-disabled: $gray-300;
$grays-border-subtle: $gray-100;
$grays-border-default: $gray-500;
$grays-surface-disabled: $gray-300;
$grays-surface-default: $gray-100;
$grays-surface-subtle: $gray-50;
