// SCSS variables
$gray-0: #ffffff;
$gray-50: #f4f5f5;
$gray-100: #ebebeb;
$gray-200: #d6d6d6;
$gray-300: #bfbfbf;
$gray-400: #ababab;
$gray-500: #969696;
$gray-600: #787878;
$gray-700: #595959;
$gray-800: #3d3d3d;
$gray-900: #1f1f1f;
$gray-950: #0f0f0f;
$blue-50: #d6e7ff;
$blue-100: #adcfff;
$blue-200: #61a3ff;
$blue-300: #0f73ff;
$blue-400: #004fbd;
$blue-500: #002e6d;
$blue-600: #002457;
$blue-700: #001c42;
$blue-800: #00132e;
$blue-900: #000814;
$blue-950: #00040a;
$green-50: #e1f9ee;
$green-100: #c3f3dc;
$green-200: #88e7b9;
$green-300: #4cdc96;
$green-400: #25bb73;
$green-500: #197e4e;
$green-600: #14663f;
$green-700: #0f4d2f;
$green-800: #0a331f;
$green-900: #051a10;
$green-950: #030d08;
$red-50: #ffe0e0;
$red-100: #ffc2c2;
$red-200: #ff8585;
$red-300: #ff4747;
$red-400: #ff0a0a;
$red-500: #cc0000;
$red-600: #a30000;
$red-700: #7a0000;
$red-800: #520000;
$red-900: #290000;
$red-950: #140000;
$yellow-50: #fffae5;
$yellow-100: #fff5c7;
$yellow-200: #ffeb94;
$yellow-300: #ffe15c;
$yellow-400: #ffd829;
$yellow-500: #f1c400;
$yellow-600: #c29e00;
$yellow-700: #8f7500;
$yellow-800: #614f00;
$yellow-900: #2e2500;
$yellow-950: #191500;

