/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/(home)/components/participation-agreement-form/ParticipationAgreementForm.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ParticipationAgreementForm_agreements-form__V_r8q {
  width: 100%;
  padding: 0 25px;
  margin-bottom: 75px;
}
.ParticipationAgreementForm_agreements-form__V_r8q h1 {
  font-family: Source Sans 3;
  font-size: 32px;
  color: #101828;
}
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_top-form-divider__hARhF {
  border-top: 1px solid var(--gray-100);
  width: 100%;
}
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_bottom-form-divider__hqa__ {
  border-top: 1px solid var(--gray-100);
  width: 100%;
}
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_agreements-list__xKE5E {
  font-size: 20px;
  font-family: Source Sans Pro Web;
  list-style-position: inside;
  font-weight: 400;
  color: #344054;
  padding: 10px 10px 10px 0;
}
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_agreements-list__xKE5E ol {
  padding-left: 0;
}
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_agreements-list__xKE5E > li {
  font-weight: 600;
  padding-bottom: 15px;
}
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_agreements-inner-alpha__ktBz_ {
  list-style-type: lower-alpha;
}
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_agreements-inner-roman__SUvOP {
  list-style-type: lower-roman;
}
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_agreements-inner-content__R3eCr p,
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_agreements-inner-content__R3eCr li {
  margin: 0;
  padding-bottom: 15px;
}
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_form-inputs__TUg1_ input {
  max-width: 100%;
  margin-bottom: 35px;
}
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_error-msg__Oezo_ {
  margin-top: -25px;
}
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_bottom-group__ktCMu {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_default-btn__ii3kq {
  display: flex;
  justify-content: space-between;
}
.ParticipationAgreementForm_agreements-form__V_r8q .ParticipationAgreementForm_bottom-group__ktCMu .ParticipationAgreementForm_usa-button-group__item__TY_pS .ParticipationAgreementForm_usa-button__74RFv {
  margin-top: 0;
}
