/* CSS Vars that overwrite USWDS Styles */
:root {
   /* PRIMATIVES */
   --gray-0: #ffffff;
   --gray-50: #f4f5f5;
   --gray-100: #ebebeb;
   --gray-200: #d6d6d6;
   --gray-300: #bfbfbf;
   --gray-400: #ababab;
   --gray-500: #969696;
   --gray-600: #787878;
   --gray-700: #595959;
   --gray-800: #3d3d3d;
   --gray-900: #1f1f1f;
   --gray-950: #0f0f0f;
   --blue-50: #d6e7ff;
   --blue-100: #adcfff;
   --blue-200: #61a3ff;
   --blue-300: #0f73ff;
   --blue-400: #004fbd;
   --blue-500: #002e6d;
   --blue-600: #002457;
   --blue-700: #001c42;
   --blue-800: #00132e;
   --blue-900: #000814;
   --blue-950: #00040a;
   --green-50: #e1f9ee;
   --green-100: #c3f3dc;
   --green-200: #88e7b9;
   --green-300: #4cdc96;
   --green-400: #25bb73;
   --green-500: #197e4e;
   --green-600: #14663f;
   --green-700: #0f4d2f;
   --green-800: #0a331f;
   --green-900: #051a10;
   --green-950: #030d08;
   --red-50: #ffe0e0;
   --red-100: #ffc2c2;
   --red-200: #ff8585;
   --red-300: #ff4747;
   --red-400: #ff0a0a;
   --red-500: #cc0000;
   --red-600: #a30000;
   --red-700: #7a0000;
   --red-800: #520000;
   --red-900: #290000;
   --red-950: #140000;
   --yellow-50: #fffae5;
   --yellow-100: #fff5c7;
   --yellow-200: #ffeb94;
   --yellow-300: #ffe15c;
   --yellow-400: #ffd829;
   --yellow-500: #f1c400;
   --yellow-600: #c29e00;
   --yellow-700: #8f7500;
   --yellow-800: #614f00;
   --yellow-900: #2e2500;
   --yellow-950: #191500;

   /* TOKENS */
   --reds-surface-darker: var(--red-600);
   --reds-surface-default: var(--red-500);
   --reds-surface-lighter: var(--red-200);
   --reds-surface-subtle: var(--red-50);
   --reds-border-darker: var(--red-600);
   --reds-border-default: var(--red-500);
   --reds-border-lighter: var(--red-300);
   --reds-border-subtle: var(--red-100);
   --reds-text-icon-icon-dark: var(--red-700);
   --reds-text-icon-icon-light: var(--red-500);
   --reds-text-icon-label: var(--red-700);
   --yellows-surface-darker: var(--yellow-700);
   --yellows-surface-default: var(--yellow-500);
   --yellows-surface-lighter: var(--yellow-200);
   --yellows-surface-subtle: var(--yellow-50);
   --yellows-border-darker: var(--yellow-700);
   --yellows-border-default: var(--yellow-500);
   --yellows-border-lighter: var(--yellow-200);
   --yellows-border-subtle: var(--yellow-100);
   --yellows-text-icon: var(--yellow-900);
   --blues-border-darker: var(--blue-700);
   --blues-border-default: var(--blue-500);
   --blues-border-lighter: var(--blue-200);
   --blues-border-subtle: var(--blue-100);
   --blues-surface-darker: var(--blue-600);
   --blues-surface-dark: var(--blue-500);
   --blues-surface-default: var(--blue-400);
   --blues-surface-lighter: var(--blue-100);
   --blues-surface-subtle: var(--blue-50);
   --blues-text-icons: var(--blue-500);
   --greens-border-darker: var(--green-600);
   --greens-border-default: var(--green-500);
   --greens-border-lighter: var(--green-200);
   --greens-border-subtle: var(--green-100);
   --greens-surface-darker: var(--green-600);
   --greens-surface-default: var(--green-500);
   --greens-surface-lighter: var(--green-200);
   --greens-surface-subtle: var(--green-50);
   --greens-text-icons-icon-dark: var(--green-600);
   --greens-text-icons-icon-light: var(--green-400);
   --greens-text-icons-label: var(--green-700);
   --grays-text-icons-inverse: var(--gray-0);
   --grays-text-icons-disabled: var(--gray-400);
   --grays-text-icons-caption: var(--gray-700);
   --grays-text-icons-subtitle: var(--gray-800);
   --grays-text-icons-body: var(--gray-950);
   --grays-text-icons-title: var(--gray-950);
   --grays-border-darker: var(--gray-700);
   --grays-border-disabled: var(--gray-300);
   --grays-border-subtle: var(--gray-100);
   --grays-border-default: var(--gray-500);
   --grays-surface-disabled: var(--gray-300);
   --grays-surface-default: var(--gray-100);
   --grays-surface-subtle: var(--gray-50);
}

@media (prefers-color-scheme: dark) {
   :root {
      --blues-surface-subtle: var(--blue-600);
      --blues-border-lighter: var(--blue-500);
      --grays-text-icons-body: var(--gray-0);
      --grays-text-icons-title: var(--gray-0);
      --blues-surface-darker: var(--blue-100);
      --grays-surface-subtle: var(--gray-950);
   }
}
