.next-part {
  margin-top: 40px;
  position: relative;
  z-index: 0;
}


//Footer
.layoutFooter {
  position: relative;
  width: 100%;
  bottom: 0;
  padding-top: 20px;

  li {
    a {
      text-decoration: none;
    }
  }

  .usa-footer__primary-container {
    margin-left: 0px;
  }
}
.topPartLinks {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;

}
.item1 {
  margin: 0px;
  grid-row: 1 / span 2;
}