@use 'colors' as *;
// _alerts.scss
.usa-alert {
   display: flex;
   width: 100%;
}

.usa-alert__body {
   flex-direction: column;
   flex: 1 0 0;
}

.usa-alert.usa-alert--info {
   border-left: 8px solid $blues-border-lighter;
   background: $blues-surface-subtle;
}

.usa-alert--info .usa-alert__body {
   background-color: $blues-surface-subtle;
}

.usa-alert--info .usa-alert__body::before {
   background-color: $blues-surface-darker;
}


.usa-alert--success .usa-alert__body {
   background-color: $greens-surface-subtle;
}

.usa-alert--success .usa-alert__body::before {
   background-color: $greens-text-icons-label;
}

.usa-alert--warning .usa-alert__body {
   background-color: $yellows-surface-subtle;
}

.usa-alert--warning .usa-alert__body::before {
   background-color: $yellows-text-icon;
}

.usa-alert.usa-alert--error {
   border-left: 8px solid $reds-border-default;
   background: $reds-surface-subtle;
}

.usa-alert--error .usa-alert__body {
   background-color: $reds-surface-subtle;
}

.usa-alert--error .usa-alert__body::before {
   background-color: $reds-text-icon-label;
}
