@use 'colors' as *;

input.usa-input.icon {
  background: url('../../public/visibility.svg') no-repeat center right 10px;
  background-color: $gray-0;
}

.usa-input {
  max-width: 641px;
  width: 100%;
}

input.usa-input, select.usa-select {
  display: flex;
  min-height: 56px;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  outline: thin solid --grays-border-disabled;
}

input:not([disabled]):focus {
  outline: thin solid $bright-blue;
  outline-offset: 0rem;
}

input.usa-input.usa-input--error,
input.usa-input.usa-input--success,
select.usa-select.usa-input--error,
select.usa-select.usa-input--success {
  border-width: thin;
}

input.usa-input.usa-input--error.icon {
  background: url('../../public/error.svg') no-repeat center right 10px;
  background-color: $gray-0;
}

input.usa-input.usa-input--success.icon,
input.usa-input.usa-input--success.icon:-internal-autofill-selected {
  background: url('../../public/check_circle.svg') no-repeat center right 10px !important;
  background-color: $gray-0 !important;
}

.usa-input-helper-text {
  max-width: 641px;
  width: 100%;
  // color: var(--reds-text-icon-icon-light);
  color: $gray-600;
  font-style: italic;

  &.error-message {
    color: $reds-text-icon-icon-light;
  }
}
