// _tables.scss

.default-table {
  .usa-table {
    border-top: 0;
    width: 100%;
    margin: 0;
  }

  .usa-table th,
  .usa-table td {
    border-bottom: 1px solid lightgray;
  }
  .usa-table tbody tr:last-child th,
  .usa-table tbody tr:last-child td {
    border-bottom: 0;
  }
}

.usa-table th, .usa-table td {
  border: 1px solid lightgray !important;
}