@use 'colors' as *;

.participation-modal {
  border-radius: 0;
  max-width: 900px;
  padding: 0;

  .participation-modal-heading {
    padding: 0 2rem;

    .participation-modal-heading1 {
      font-size: 18px;
      font-family: 'Source Sans 3';
      font-weight: 600;
      color: $midnight-blue;
      line-height: 28px;
      text-align: left;
    }

    .participation-modal-heading2 {
      font-size: 24px;
      font-family: 'Source Sans 3';
      font-weight: 400;
      color: $steel-blue;
      line-height: 40px;
      text-align: left;
    }
  }

  .top-divider {
    border-top: 1px solid $pale-blue;
    width: 100%;
    box-sizing: border-box;
  }

  .usa-prose .participation-modal-body {
    padding: 0 3.5rem;
    color: $navy-blue;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Source Sans 3';
  }

  .usa-prose .participation-modal-body span {
    font-weight: 600;
  }

  .usa-prose > ul li {
    margin-bottom: 1rem;
    max-width: 100%;
  }

  .bottom-divider {
    border-top: 1px solid $pale-blue;
    width: 100%;
  }

  .usa-modal__footer {
    margin: 1.5rem 0;
  }

  .btn-styles {
    display: flex;
    justify-content: flex-end;
  }
}
