@use 'colors' as *;

.usa-accordion__button {
  padding: 0.75rem 3.5rem 1rem 1.25rem;
}

[type='button']:not(:disabled).usa-accordion__button,
button:not(:disabled).usa-accordion__button {
  display: flex;
  width: 641px;
  height: 52px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  cursor: pointer;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 15px;
  flex: 1 0 0;
  background-color: $light-sky-blue;
  font-size: 20px;
}

[type='button']:not(:disabled).usa-accordion__button,
button:not(:disabled).usa-accordion__button[aria-expanded='false'] {
}

[type='button']:not(:disabled).usa-accordion__button,
button:not(:disabled).usa-accordion__button[aria-expanded='false'] {
  background: url('../../public/add.svg') no-repeat center right 18px;
  background-color: $light-sky-blue;
  background-size: 1.5rem;
  border-radius: 15px;
}

[type='button']:not(:disabled).usa-accordion__button,
button:not(:disabled).usa-accordion__button[aria-expanded='false']:hover {
  background: url('../../public/add.svg') no-repeat center right 18px;
  background-color: $light-sky-blue;
  background-size: 1.5rem;
}

[type='button']:not(:disabled).usa-accordion__button,
button:not(:disabled).usa-accordion__button[aria-expanded='true'] {
  background: url('../../public/remove.svg') no-repeat center right 18px;
  background-color: $light-sky-blue;
  background-size: 1.5rem;
  border-radius: 15px 15px 0 0;
}

[type='button']:not(:disabled).usa-accordion__button,
button:not(:disabled).usa-accordion__button[aria-expanded='true']:hover {
  background: url('../../public/remove.svg') no-repeat center right 18px;
  background-color: $light-sky-blue;
  background-size: 1.5rem;
  border-radius: 15px 15px 0 0;
}

.usa-accordion__heading,
.usa-prose .usa-accordion__heading {
  /* H4 */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.usa-accordion__content {
  max-width: 641px;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 0 0 15px 15px;
  margin-top: 0;
  overflow: hidden;
  padding: 1rem 1.25rem 0.75rem 1.25rem;

  flex: 1 0 0;
  color: var(--grays-text-icons-body, $gray-950);

  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.usa-accordion__content.usa-prose > p {
  line-height: 1.5;
  max-width: 100%;
}
