@use 'colors' as *;

.menuText {
  font-size: 14px;
  margin-left: 6px;
}


.documents-list {
  margin: 15px;
  padding-top: 10px;

  .cardSelected {
    background-color: #f0f0f0 !important;
    border: 1px solid #d9d2d2 !important;
    cursor: pointer;

    .card-headerText {
      span {
        font-size: 17px !important;
        font-weight: 600;
      }
    }

    .subText {
      margin: 0px;
      padding-left: 16px;
      font-weight: 600;
    }

    .subTextModified {
      margin: 2px 0px 8px 0px;
      padding-left: 16px;
    }

  }

  .card {
    border: 1px solid #d9d2d2 !important;
    cursor: pointer;

    .card-headerText {
      span {
        font-size: 17px !important;
        font-weight: 600;
      }
    }

    .subText {
      margin: 0px;
      padding-left: 16px;
      font-weight: 600;
    }

    .subTextModified {
      margin: 2px 0px 8px 0px;
      padding-left: 16px;
    }
  }

  .documents-header {
    margin-bottom: 68px;

    li {
      margin: 0px !important;
    }

    input {
      display: flex !important;
      height: 45px !important;
      padding: 3px 6px !important;
      align-items: center !important;
      align-self: stretch !important;
      border-radius: 2px !important;
      outline: 1px solid white !important;
      border: 2px solid #000 !important;
      width: 100% !important;
      margin-right: -3px !important;
    }
  }


}