@use 'colors' as *;
@media (max-width: 768px) {
	.mobile-grid-container {
	  display: grid;
	  grid-template-columns: auto auto auto auto auto;
	  padding: 5px;
	  padding-left: 0px;	
	  font-size: 35px;
	font-family: "Source Sans 3";
	}
	

	.item1 {
	  grid-column: 1/7;
	}
	.item5 {
	  grid-column: 1 / 7;
	  padding-top:20px;
	  padding-left: 20px;
	}
  }


  .display-emails {
	display: grid;
	grid-template-columns: 10px 45px 10px auto;	
  }
  
  .name-text{
	font-size:16px;
	font-weight:400;
	font-family: "Source Sans 3";
	grid-column: 3 / 5;
	
  }

  .name-mail{
	font-size:12px;
	font-weight:400;
	font-family: "Source Sans 3";
	font-style: italic;
	grid-column: 3 / 5;
	padding-bottom: 10px;
  }

.email-dot-icon {
	grid-row: 1/4;
	padding-top:10px;
}
.email-icon {
	grid-row: 1/4;
	font-size: 40px;
	margin-right:0px;
}


  //filter email css - right side bar
  .email-dot {
	font-size:14px;
	padding: 3px 5px 0px 0px; 

  }
  .email-image {
	font-size:14px;
	padding: 5px 2px 0px 2px; 

  }
  .email-title {
	font-size:18px;
	padding: 0px 0px 0px 5px; 

  }
  .row-spaces {
	margin: 5px 0px 5px 0px;


  }
  .line{
	border: none; 
	border-top: 1px solid #DFE1E2;
	margin: 20px 0; 
  }