@use 'colors' as *;

.usa-search-blue-button {
  width: 70px;
  height: 56px;
  border: none;
  background: var(--blues-border-lighter, #005ea2);
  background-position: center;
}

.img .usa-search-icon {
  width: 50px;
}

.usa-message-center {
  font-size: 40px;
  font-weight: 700;
  padding-left: 20px;
  @media (max-width: 768px) {
    font-size: 40px;
    font-weight: 700;
    padding-left: 20px;
  }
}

.usa-message-filter {
  @media (max-width: 768px) {
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

.main-container {
  padding-top: 40px;
  padding-bottom: 10px;
  @media (max-width: 768px) {
    padding-top: 0px;
  }
}

.main-container-icon {
  padding-top: 5px;
  padding-right: 15px;
}
.message-center-search {
  padding-left: 15px;
  @media (max-width: 768px) {
    padding-left: 20px;
  }
}

.usa-email {
  border-color: white;
  float: left;
  padding: 0px 0px 0px 0px;
}
