.modal-button,  .modal-button:hover, .modal-button:active{
    background: transparent;
    background-color: transparent;
    }
    .usa-table th, .usa-table td{
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        padding: 15px 0px 15px 0px ;
}

.text-field {
    width: 100%;
    padding: 6px;
    border: 1px solid black;
    margin-top: 4px;
  }
  