.user-management-title {
  font-size: 54px;
}
.user-management-h2 {
  font-size: 37px;
}
.v-align-middle-float-right {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
.usa-search .usa-input {
  gap: 8px;
  height: 40px;
  width: 379px;
  flex: 1 0 0;
  border-radius: 0px 0px 0px 0px;
  border-top: 1px solid var(--Grays-Border-default, #969696);
  border-bottom: 1px solid var(--Grays-Border-default, #969696);
  border-left: 1px solid var(--Grays-Border-default, #969696);
}

.usa-search-blue-button {
  width: 56px;
  height: 56px;
  border: none;
  background: var(--blues-border-lighter, #61a3ff);
  background-position: center;
}

.img .usa-search-icon {
  width: 20px;
  height: 20px;
}

.usa-table {
  border-radius: 25px 25px 25px 25px;
  border: 1px solid #e7e8e9;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1rem;
  margin-left: 5%;
  font-family: 'Source Sans 3', sans-serif;
}
.usa-table th {
  border-color: #bfbfbf;
}

.usa-table th:first-child {
  border-top-left-radius: 1rem;
}

.usa-table th:last-child {
  border-top-right-radius: 1rem;
}

.usa-table-header {
  height: 67px;
  font-weight: 600;
  font-size: 24px;
  background-color: #e7e8e9; /* Light gray background for headers */
  color: rgba(15, 15, 15, 1);
  padding: 16px 24px 16px 24px;
  text-align: center;
  font-family: 'Source Sans 3', sans-serif;
}

.usa-table tbody tr td {
  border-color: #e7e8e9;
  width: 284px;
  font-family: 'Source Sans 3', sans-serif;
}

.usa-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

.usa-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}
