/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/shared/components/documents-list/DocumentsList.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DocumentsList_menuText__wgDQo {
  font-size: 14px;
  margin-left: 6px;
}

.DocumentsList_sortTypeGrid__zz7E_ {
  margin-top: -96px;
}

.DocumentsList_mainMenu__ckk7W {
  margin: 18px 14px;
}
.DocumentsList_mainMenu__ckk7W .DocumentsList_mainMenuButton__pTu_0 {
  border-radius: 32px;
  width: 100%;
  padding: 0px 62px;
}
.DocumentsList_mainMenu__ckk7W .DocumentsList_mainMenuButton__pTu_0 p {
  margin: 12px 0px 12px 8px;
}
.DocumentsList_mainMenu__ckk7W .DocumentsList_mainMenuButton__pTu_0:hover {
  background-color: rgb(114, 179, 233);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .DocumentsList_mainMenu__ckk7W {
    margin: 10px 14px 0px 14px;
  }
  .DocumentsList_sortTypeGrid__zz7E_ {
    margin-top: 0px;
  }
}
.DocumentsList_documents-list__inhje {
  margin: 15px;
  padding-top: 10px;
}
.DocumentsList_documents-list__inhje .DocumentsList_cardSelected__lJ_TA {
  background-color: #f0f0f0;
  border: 1px solid #d9d2d2;
  cursor: pointer;
}
.DocumentsList_documents-list__inhje .DocumentsList_cardSelected__lJ_TA .DocumentsList_card-headerText__n0JQ_ span {
  font-size: 17px;
  font-weight: 600;
}
.DocumentsList_documents-list__inhje .DocumentsList_cardSelected__lJ_TA .DocumentsList_subText__RT2_L {
  margin: 0px;
  padding-left: 16px;
  font-weight: 600;
}
.DocumentsList_documents-list__inhje .DocumentsList_cardSelected__lJ_TA .DocumentsList_subTextModified__30YSr {
  margin: 2px 0px 8px 0px;
  padding-left: 16px;
}
.DocumentsList_documents-list__inhje .DocumentsList_card__LAHbJ {
  border: 1px solid #d9d2d2;
  cursor: pointer;
}
.DocumentsList_documents-list__inhje .DocumentsList_card__LAHbJ .DocumentsList_card-headerText__n0JQ_ span {
  font-size: 17px;
  font-weight: 600;
}
.DocumentsList_documents-list__inhje .DocumentsList_card__LAHbJ .DocumentsList_subText__RT2_L {
  margin: 0px;
  padding-left: 16px;
  font-weight: 600;
}
.DocumentsList_documents-list__inhje .DocumentsList_card__LAHbJ .DocumentsList_subTextModified__30YSr {
  margin: 2px 0px 8px 0px;
  padding-left: 16px;
}
.DocumentsList_documents-list__inhje .DocumentsList_documents-header__5AzS_ {
  margin-bottom: 68px;
}
.DocumentsList_documents-list__inhje .DocumentsList_documents-header__5AzS_ li {
  margin: 0px;
}
.DocumentsList_documents-list__inhje .DocumentsList_documents-header__5AzS_ input {
  display: flex;
  height: 45px;
  padding: 3px 6px;
  align-items: center;
  align-self: stretch;
  border-radius: 2px;
  outline: 1px solid white;
  border: 1px solid #000;
  width: 100%;
  margin-right: -3px;
}
.DocumentsList_documents-list__inhje .DocumentsList_tableSortIcon__7YYKl {
  float: right;
  padding-top: 4px;
}
.DocumentsList_documents-list__inhje .DocumentsList_table-th___aFdX {
  padding-right: 8px;
}
