.actionButton{
  text-decoration: underline;
  color: #166baa;
  cursor: pointer;
  margin-left: 20px;
}
.actionDelete{
  text-decoration: underline;
  color: #166baa;
  cursor: pointer;
  position: relative;
  left: 104%;
  top: -42px;
}

.modalBodaySpace{
  margin-top: 216px;
}

.select-width{
  width: 400px;
}

.modalBody{
  margin-top: 40px;
}

.maxWidth{
  max-width: none;
}

.maxHeight{
  height: 90px;
}

