@use 'colors' as *;
@media (max-width: 768px) {
	.mobile-grid-container {
	  display: grid;
	  grid-template-columns: auto auto auto auto auto;
	  padding: 5px;
	  padding-left: 0px;	
	  font-size: 35px;
	font-family: "Source Sans 3";
	}
	
	.item5 {
	  padding-top: 20px;
	  padding-left: 20px;
	}
  }

  .name-text{
		font-size:16px;
		font-weight:400;
  }

  .name-mail {
	font-size:12px;
	font-weight:400;
	font-style: italic;
  }

.email-dot-icon {
	grid-row: 1/4;
	padding:10px 5px 0px 0px;
	
}
.email-icon {
	grid-row: 1/4;
	font-size: 40px;
	margin-right:0px;
}


  //filter email css - right side bar
  .email-dot {
	font-size:14px;
	padding: 3px 5px 0px 0px; 
  }

	.email-focused {
		position: absolute;
		left: -1.25rem;
		height: calc(100% + 13px);
		top: -13px;
		width: 4px;
		background-color: #005EA2;
		&-last {
			height: calc(100% + 26px);
			top: -13px;
		}
	}
  .email-image {
		font-size:14px;
  }
  .email-title {
		font-size:18px;
  }
  .row-spaces {
	margin: 5px 0px 5px 0px;
  }

  .line{
	border: none; 
	border-top: 1px solid #DFE1E2;
	margin: 13px 0; 
	width: 150%;
	margin-left: -20%;
  }