
.headerMargin{
  position: relative;
  z-index: 1250;
}

// Footer
.layoutFooter{
  position: fixed;
  z-index: 1250;
  width: 100%;
  bottom: 0;
  li{
      a{
          text-decoration: none;
      }
  }
.usa-footer__primary-container{
  margin-left:0px;
}
}

// Center Body
.layoutMain{
  margin-left: 260px;
}


// Sidebar
.layoutSidebar{
  font-size: 14px;
  .MuiListItemText-root{
    .MuiTypography-root{
      font-size: 12px !important;
    }
  }
  
}
