.format {
    outline: none;
    border: none;
    margin-right: .5rem;
    border: 1px solid #1a4480;
    border-radius: 3px;
    background-color: white;
    padding-inline: 1rem;

} 

.is-active {
    background-color: #1a4480;
    border-color: #1a4480;
    color: #fff;
}